@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    height: 100vh;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

input {
    cursor: pointer;
}

main {
    margin-top: 250px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;

    .hero {
        align-items: center;
            display: flex;
        height: 150px;
        justify-content: center;
            width: 100%;
        
            >h1 {
                color: white;
                position: absolute;
            }
        
            >img {
                height: inherit;
                object-fit: cover;
                width: inherit;
            }

            .cart {
                align-items: center;
                display: flex;
                justify-content: center;
                right: 12.5%;
                position: absolute;

                >a {
                    align-items: center;
                    background: white;
                    border-radius: 50px;
                    display: flex;
                    height: 62.5px;
                    justify-content: center;
                    width: 62.5px;
                    
                    svg {
                        fill: black;
                        height: 25px;
                        width: 25px;
                    }

                    >span {
                        background: red;
                        border-radius: 50px;
                        height: 37.5px;
                        position: absolute;
                        right: -17.5px;
                        top: -17.5px;
                        width: 37.5px;
    
                        >p {
                            align-items: center;
                            color: white;
                            display: flex;
                            font-weight: bold;
                            height: 100%;
                            justify-content: center;
                            width: 100%;
                        }
                    }
                }
            }
        }

        nav {
            background: black;
            display: flex;
            color: white;
            height: 62.5px;
            justify-content: center;

            ul {
                display: flex;
                height: 100%;
                width: fit-content;

                li {
                    a {
                        align-items: center;
                        display: flex;
                        font-size: 20px;
                        height: 100%;
                        justify-content: center;
                        padding: 0 25px;

                        &:hover {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
}

.show {
    $imageSize: 37.5%;
        
        &__product {
            padding: 0 12.5%;
        
            h2 {
                align-items: center;
                display: flex;
                height: 125px;
            }
        
            &_content {
                display: flex;
            }
        
            &_picture {
                overflow: hidden;
                position: relative;
                width: $imageSize;
        
                img {
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
        
                &::before {
                    content: "";
                    display: flex;
                    padding-top: 100%;
                }
            }
        
            &_description {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: calc(100% - $imageSize);
        
                >p {
                    font-size: 24px;
                    padding: 0 0 0 25px;
                    text-align: justify;
                }
            }
        
            &_price {
                display: flex;
                justify-content: space-between;
        
                >p {
                    font-size: 32px;
                    align-items: flex-end;
                    display: flex;
                    padding: 0 0 0 25px;
                }
        
                form {
                    input {
                        font-size: 20px;

                        &[type="number"] {
                        border: 1px solid black;
                        border-radius: 12.5px;
                        height: 50px;
                        margin-right: 25px;
                        text-align: center;
                        width: 100px;
                        }

                        &[type="submit"] {
                            background: black;
                            border: none;
                            border-radius: 50px;
                            color: white;
                            height: 50px;
                            width: 175px;
                        }
                    }
                    }
                }
            }
}

.home {
    $cardSize: 375px;
    &__product {
        display: flex;
        flex-wrap: wrap;
        padding: 0 12.5%;
        width: 100%;

        h2 {
            align-items: center;
            display: flex;
            height: 125px;
            justify-content: center;
            width: 100%;
        }

        &_grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 50px 0 100px 0;
            width: 100%;
        }

        &_card {
            align-items: center;
            border-radius: 25px;
            box-shadow: 0 5px 5px 0 rgba(128, 128, 128, .25);
            display: flex;
            flex-direction: column;
            margin: 0 25px 25px 25px;
            overflow: hidden;
            width: $cardSize;

            &_picture {
                overflow: hidden;
                position: relative;
                width: 100%;
        
                img {
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
        
                &::before {
                    content: "";
                    display: flex;
                    padding-top: 100%;
                }
            }

            >p {
                display: flex;
                font-size: 24px;
                justify-content: center;
                margin: 25px 0;
            }

            >a {
                align-items: center;
                background: black;
                border: none;
                border-radius: 50px;
                color: white;
                display: flex;
                height: 37.5px;
                justify-content: center;
                margin: 50px 0;
                width: 50%;
            }
         }
        }
    }

    .cart {
        $imageSize: 7.5%;
            
            &__product {
                padding: 0 12.5%;
            
                h2 {
                    align-items: center;
                    display: flex;
                    height: 125px;
                }

                &_content {
                    border-top: 1px solid black;
                    display: flex;
                    padding-top: 50px;
                    margin-bottom: 50px;

                    &:nth-of-type(2) {
                        border-top: none;
                        padding-top: 0;
                    }

                    &:last-of-type {
                        margin-bottom: 150px;
                    }
                }

                &_picture {
                    overflow: hidden;
                    position: relative;
                    width: $imageSize;
            
                    img {
                        height: 100%;
                        object-fit: cover;
                        position: absolute;
                        top: 0;
                        width: 100%;
                    }
            
                    &::before {
                        content: "";
                        display: flex;
                        padding-top: 100%;
                    }
                }

                &_detail {
                    display: flex;
                    width: 100%;
                }

                &_name {
                    padding: 0 0 0 25px;
                    width: 40%;
                }

                &_unit_price, &_quantity, &_total_price {
                    width: 20%;
                }

                &_name, &_unit_price, &_quantity, &_total_price {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                &_name p, &_unit_price p, &_quantity p, &_total_price p {
                    text-align: end;
                }

                > form {
                    display: flex;
                    justify-content: flex-end;

                    input {
                        font-size: 20px;

                        &[type="submit"] {
                            background: black;
                            border: none;
                            border-radius: 50px;
                            color: white;
                            height: 50px;
                            width: 250px;
                        }
                    }
                    }
                }

                &__total_price {
                    align-items: center;
                    display: flex;
                    height: 100px;
                    justify-content: flex-end;
                    margin-bottom: 50px;

                    >p {
                        background: rgba(225, 225, 225, 1);
                        border-radius: 50px;
                        padding: 12.5px 25px;

                        >span {
                            padding-right: 50px;
                        }
                    }
                }
    }

    .return-btn {
        align-items: center;
        display: flex;
        height: 125px;
        justify-content: center;
        left: 0;
        position: absolute;
        width: 12.5%;

        >a {
            align-items: center;
            background: black;
            border-radius: 50px;
            display: flex;
            height: 50px;
            justify-content: center;
            width: 50px;
            
            svg {
                fill: white;
                height: 25px;
                width: 25px;
            }
        }
    }